html, body {
    height:100%;
    min-height:100%;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body {
    background-color: black;
    margin: 0px;
    font-family: 'Roboto', Arial, sans-serif;
    color: #e2e2e2;
}

.loading {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000000;
    text-align: center;
    z-index: 1006;
}

.loading-internal {
    width: 100%;
    height: 100%;
}

.loading-img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.host-container {
    display: none;
}

.authenticate div {
    margin: 10px auto;
}

.authenticate a {
    display: inline-block;
    background-image: linear-gradient(to bottom right, #fec730, #fa8c3d);
    padding: 4px 6px;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
}

.authenticate label {
    width: 80px;
    display: inline-block;
    text-align: right;
    font-weight: 500;
    font-size: 16px;
    color: #DDD;
}

.authenticate input {
    background-color: #262626;
    border: 1px solid #363636;
    color: #e4e4e4;
    font-size: 16px;
}

.connecting-loader a {
    display: inline-block;
    font-size: 12px;
    color: #999;
    padding: 10px 14px;
}

.container {
    position: relative;
    height: 100%;
    min-height: 100%;
}

.main {
    height: calc(100% - 26px);
}

.stage-frame {
    position: absolute;
    overflow: hidden;
}

.stage-frame.bordered {
    border: 1px solid #808080;
}

.stage-frame.bordered .title {
    background-color: #808080;
    color: #000000;
    font-size: 14px;
    text-align: left;
    padding: 0px 0px 0px 2px;
}

.stage-frame .content-container {
    width: 100%;
    height: calc(100% - 16px);
    background-color: #000;
}

.stage-frame .content-container span {
    vertical-align: super;
}

.stage-frame .content {
    white-space: pre-line;
    display: inline-block;
}

/* End Main */


/* Footer */

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 25px;
    color: #c1c1c1;
    z-index: 999;
}

.status {
    position: absolute;
    top: 2px;
    right: 5px;
}

.disconnected, .connected {
    display: none;
}

.text {
    position: relative;
    font-size: 13px
}

.text.disconnected {
    vertical-align: super;
}

.text, .loader {
    display: inline-block;
}

/* Animation */
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.connecting-loader {
    display:none;
}

.connecting-to {
    padding-top: 20px;
    font-weight: 500;
}

.connecting-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.connecting-spinner div {
  transform-origin: 40px 40px;
  animation: connecting-spinner 1.2s linear infinite;
}
.connecting-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.connecting-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.connecting-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.connecting-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.connecting-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.connecting-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.connecting-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.connecting-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.connecting-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.connecting-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.connecting-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.connecting-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.connecting-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes connecting-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
}

.lds-spinner div {
    transform-origin: 10px 10px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    left: 9.25px;
    width: 1.5px;
    height: 4.5px;
    border-radius: 20%;
    background: #fff;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
